.button {
  outline: none !important;
  box-sizing: border-box;
  background: $baseColor !important;
  @include clearBrowserStyle();
  border-color: $transparent !important;
  &.md {
    text-decoration: none !important;
    color: $white !important;
    padding: 0 10px;
    width: 155px;
    font-size: 13px;
  }
  &.lg {
    width: 300px;
    @include margin-align();
    overflow: visible;
    height: 41px;
    font-size: 16px;
    padding: 3px 0;
    text-decoration: none !important;
  }
}

.button_base {
  display: block;
  width: 200px;
  padding: 8px;
  font-size: $baseFontSize;
  background: $baseColor;
  color: $white;
  border: none;
  background-image: none;
  @include boxShadow(none);
  @include clearBrowserStyle();
  &.button_contact {
    @include margin-align();
  }
}

input[type="submit"] {
  background: $baseColor !important;
}

//#wpcf7-f42-o2 > form > div.form_base > p:nth-child(3) > input {
//  background: $coralBaseColor !important;
//}