.right_arrow {
  position: relative;
  &::after {
    content: '';
    display: block;
    width: 30px;
    height: 25px;
    background: url('../images/small_arrow.png') no-repeat;
    position: absolute;
    right: -20px;
    top: 50%;
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
}

.right_line {
  position: relative;
  &::after {
    content: '';
    display: block;
    width: 1px;
    height: 75px;
    position: absolute;
    right: 37px;
    top: -3px;
    background: $white;
  }
}