.form_base {
  input:not([type="submit"]), textarea {
    padding: 20px;
    margin: 5px !important;
    border-color: $black;
  }
  input[type="submit"] {
    font-size: $baseFontSize;
    display: block !important;
    @include margin-align();
  }
}


.contact_form_page {
  .form_base {
    width: 60%;
    @include margin-align();
    input[type="submit"] {
      width: 250px;
    }
  }
  @media screen and (max-width: 991px) {
    input[type="submit"] {
      width: 95% !important;
    }
  }
}