.mar_bott_25 {
  margin-bottom: 25px;
}

.mar_bott_50 {
  margin-bottom: 50px;
}

.mar_bott_100 {
  margin-bottom: 100px !important;
}

.mar_top_50 {
  margin-top: 50px;
}

.column-3-12 {
    @media screen and (max-width: 991px) {
      width: 100% !important;
    }
}

.container {
  @media screen and (min-width: 1130px) {
    width: 1100px !important;
  }
}

.margin_center {
  @include margin-align();
}

.page_content {
  min-height: 80vh;
}