@mixin margin-align {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@mixin clearBrowserStyle() {
  -webkit-appearance: none;
}

@mixin boxShadow($prop) {
  box-shadow: $prop;
  -webkit-box-shadow: $prop;
  -moz-box-shadow: $prop;
}

@mixin flex_align($justify-content: center,$align-item: center ) {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: $justify-content;
  align-items: $align-item;
  -webkit-align-items: $align-item;
}