@mixin margin-align {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

@mixin clearBrowserStyle() {
  -webkit-appearance: none;
}

@mixin boxShadow($prop) {
  box-shadow: $prop;
  -webkit-box-shadow: $prop;
  -moz-box-shadow: $prop;
}