.main_nav {
  background: $baseColor;
  ul {
    @include clearfix();
    li {
      a {
        color: $white !important;
        border: none !important;
        &:hover {
          background: $transparent !important;
        }
      }
      &.current_page_item {
         a {
           color: $white;
           font-weight: 800;
         }
      }
    }
  }
}