.block_heading {
  text-align: center;
  h2 {
    font-size: 30px;
    color: $lightBlack;
  }
}


.md_font-size {
  font-size: $mdFontSize;
}

.white {
  color: $white;
}

.page_title {
  font-size: 42px;
  color: $lightBlack;
  font-family: $baseFontFamily;
}