$baseFontSize: 16px;
$mdFontSize: 30px;


$white: #ffffff;
$baseColor: #fdb813;
$coralBaseColor: #0687cc;
$transparent: transparent;
$black: #030303;
$lightBlack: #505050;
$preloaderOverlay: $white;


$baseFontFamily: 'OpenSansRegular', Arial, sans-serif;